/* 기본 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden; /* 스크롤 방지 */
    background-color: #000; /* 배경색 검정 */
    touch-action: none; /* 모바일 브라우저의 기본 터치 동작(스크롤 등) 무시 */
}

canvas {
    display: block;
}